<script type="text/ng-template" id="list.html">
  <ul dnd-list="list">
      <li ng-repeat="item in list"
          dnd-draggable="item"
          dnd-effect-allowed="move"
          dnd-moved="list.splice($index, 1)"
          dnd-selected="models.selected = item"
          ng-class="{selected: models.selected === item}"
          ng-include="item.type + '.html'">
      </li>
  </ul>
</script>

<script type="text/ng-template" id="item.html">
  <div class="item">{{item.name}}</div>
</script>

<!-- Just an image -->
<nav class="navbar navbar-light bg-light" style="background: #0085cf;height:90px">

  <h1 style="color: #fff">EDH</h1>

</nav>
<div class="">
  <div class="row">
      <div class="col-md-3">
           <div class="toolbox box box-grey box-padding">
      <h3>Select Steps</h3>
      <ul>
         <li ng-repeat="item in models.templates"
              dnd-draggable="item"
              dnd-effect-allowed="copy"
              dnd-copied="item.id = item.id + 1"
              >
              <button type="button" class="btn btn-default" disabled="disabled">{{item.name}}</button>
          </li>
      </ul>
  </div>
      </div>
       <div ng-repeat="(zone, list) in models.dropzones" class="col-md-4">
          <div class="dropzone box box-yellow">
            <h3>Steps Selected</h3>
              <div ng-include="'list.html'"></div>
          </div>
      </div>
      <div class="col-md-4">

    <form ng-if="models.selected" class="box box-grey box-padding" ng-submit="saveForLater(formItem)">
        <h3>{{models.selected.name}}</h3>
         
         <div class="form-group row">
        <label for="stepName" class="col-sm-6 col-form-label" style="margin-top: 10px">Step Name</label>
        <div class="col-sm-6">
          <input type="text"  class="form-control" ng-model="formItem.stepName = models.selected.name">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="stepName" class="col-sm-6 col-form-label" style="margin-top: 10px">Step Order</label>
        <div class="col-sm-6">
          <input type="text"  class="form-control" ng-model="formItem.stepOrder">
        </div>
      </div>
          <input ng-show="false" type="text" ng-model="formItem.id = models.selected.id" class="form-control" style="margin-top: 5px" />
      
           <strong>Query </strong>
          <textarea type="text" ng-model="formItem.query"  class="form-control" style="margin-top: 5px"></textarea>

        <strong>Query Parameters </strong> 
        <textarea type="text" ng-model="formItem.parameters" class="form-control" style="margin-top: 5px"></textarea>

        <strong>Query Prefix </strong> 
         <textarea type="text" ng-model="formItem.prefix" class="form-control" style="margin-top: 5px"></textarea>
    <strong>Query Suffix </strong> 
        <input type="text" ng-model="formItem.suffix" class="form-control" style="margin-top: 5px" />
    <strong>Query Metadata</strong> 
        <textarea type="text" ng-model="formItem.metadata" class="form-control" style="margin-top: 5px"></textarea>
      
     
      
      <button type="submit" class="btn btn-primary" style="margin-top: 5px">Save for Later</button>        
    </form>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
  <div class="table-responsive">
      <table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Step Name</th>
    <th scope="col">Query Parameters</th>
    <th scope="col">Query Prefix</th>
    <th scope="col">Query Suffix</th>
    <th scope="col">Query Metadata</th>
  </tr>
</thead>

<tbody ng-repeat=" item in tableItem">
  <tr>
    <td>{{item.id}}</td>
    <td>{{item.stepName}}</td>
    <td>{{item.parameters}}</td>
    <td>{{item.prefix}}</td>
    <td>{{item.suffix}}</td>
    <td>{{item.metadata}}</td>
  </tr>

</tbody>

<!--  <tbody ng-repeat="(k,v) in models.dropzones">
  <tr ng-repeat = "item in v">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.parameters}}</td>
    <td>{{item.parameters}}</td>
    
    
  </tr> 

</tbody> -->
</table>
</div>

</div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-md-8">
  <button type="submit" class="btn btn-primary"> Submit </button>
</div>
</div>


